<!-- This example requires Tailwind CSS v2.0+ -->
<div>
  <div class="flow-root mt-6">
    <ul role="list" class="-my-5 divide-y divide-gray-200 border-2 px-4">
      <li class="py-4 px-4">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img class="h-16 w-16 rounded-full"
              src="https://africabusinesscommunities.com/Images/Key%20Logos/wave.png"
              alt="">
          </div>
          <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate">Wave cote d'ivoire</p>
            <p class="text-sm text-gray-500 truncate">25%</p>
          </div>
          <div>
            <a href="#"
              class="inline-flex items-center shadow-sm px-2.5 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-full text-white bg-green-500 hover:bg-green-300">
              Editer
             </a>
             <a href="#"
             class="inline-flex items-center shadow-sm px-2.5 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-full text-white bg-red-500 hover:bg-red-300">
             Supprimer
            </a>
          <div>
        </div>
      </li>
      

    
    </ul>
  </div>

</div>
